#darkMode {
    background: transparent url("https://nickjohn.gallerycdn.vsassets.io/extensions/nickjohn/autothemeswitcherforwin10darkmode/0.8/1625713621041/Microsoft.VisualStudio.Services.Icons.Default") no-repeat center;
    background-size: 60px 60px;
    width: 90px;
    height: 90px;
    filter: grayscale(10%);
    border: none;
    border-radius: 50%;
    transition: 0.15s ease-in-out, filter 0.15s ease-in-out;
    margin-left: 5%;
    margin-top: -18%;

    
}

#darkMode:hover,
#darkMode:focus {
    filter: none;
    background-color: rgb(33, 102, 151);
    cursor: pointer;
}

#darkMode.clicked {
    filter: none !important;
    background-color: rgb(228, 225, 197);
}