#darkMode {
    background: transparent url("https://images.emojiterra.com/twitter/v13.1/512px/1f318.png") no-repeat center;
    background-size: 30px 30px;
    width: 45px;
    height: 45px;
    filter: grayscale(50%);
    border: none;
    border-radius: 50%;
    transition: 0.15s ease-in-out, filter 0.15s ease-in-out;
}

#darkMode:hover,
#darkMode:focus {
    filter: none;
    background-color: rgb(33, 102, 151);
    cursor: pointer;
}

#darkMode.clicked {
    filter: none !important;
    background-color: black;
}