#sidebar {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    gap: 75px;
    margin-top: 10%;
    margin-right: 80%;
    margin-left: 2%;
}

.sidebarText {
    font-size: larger;

}