th, td {
    border: 1px solid;
    text-align: center; 
}

#tableContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    
    /* margin-bottom: 60%; */

}
/* 
#unitsOverviewTable {
    
} */